::selection {
    background-color: $color-selection;
}

body
{
    margin: 0;
    padding: $gap-body-vertical $gap-body-horizontal;
    color: $color-base;
    font-size: $font-size;
    font-family: $font-sans;
    line-height: $font-line;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}