p {
    margin: $gap 0;
}

a
{
    @include t-link($color-link);

    &.t-link {
        &-outer[href^="http://"],
        &-outer[href^="https://"] {
            &:after {
                content: '\21AC';
                padding-left: $gap / 7;
            }
        }
    }
}

strong,
b
{
    font-weight: 700;
}

em,
i
{
    font-style: italic;
}

hr
{
    @include t-horizontal-rule();
}

ins {
    @include t-bordered-text(1px);
}

kbd {
    font-family: $font-mono;
    font-size: $font-size-small;
    padding: $gap / 14 $gap / 7;
    background: $color-base-light;
    border-radius: $gap / 7;
}

small {
    font-size: $font-size-small;
}

sup {
    @include t-text-offset(-.5em, 0, $font-size * 0.75);
}

sub {
    @include t-text-offset(.25em, 0, $font-size * 0.75);
}

abbr {
    cursor: help;
    @include t-bordered-text(1px, dotted, $color-base);
}

mark {
    @include t-accent-block();
}

code {
    @include t-accent-block($backgroundColor: $color-base-light);
    font-family: $font-mono;
}

pre {
    @include t-codeblock();
    white-space: pre;
}

.t-pre {
    @include t-codeblock(
        $paddingX: $gap / 2,
        $paddingY: $gap / 4
    );

    p, span {
        white-space: pre;
        margin: 0;
    }
}