p {
    margin: $gap 0;
}

a
{
    @include t-link($color-link);

    &.#{$base-class-prefix}link {
        &-outer[href^="//"],
        &-outer[href^="http://"],
        &-outer[href^="https://"] {
            &:after {
                content: '\21AC';
                padding-left: $gap / 7;
            }
        }
    }
}

strong,
b,
.#{$base-class-prefix}text-bold,
{
    font-weight: 700;
}

em,
i,
.#{$base-class-prefix}text-italic,
{
    font-style: italic;
}

.#{$base-class-prefix}text {
    &-underline {
        text-decoration: underline;
    }

    &-bordered {
        @include t-bordered-text($borderColor: inherit);
    }

    &-striked {
        text-decoration: line-through;
    }

    &-upper {
        text-transform: uppercase;
    }

    &-capitalized {
        text-transform: capitalize;
    }
}

hr
{
    @include t-horizontal-rule();
}

ins {
    @include t-bordered-text();
}

kbd {
    font-family: $font-mono;
    padding: $gap / 14 $gap / 7;
    background: $color-base-light;
    border-radius: $gap / 7;
}

small {
    font-size: $font-size-small;
}

sup {
    @include t-text-offset(
        -.5em,
        0,
        $font-size * 0.75
    );
}

sub {
    @include t-text-offset(
        .25em,
        0,
        $font-size * 0.75
    );
}

abbr,
.#{$base-class-prefix}text-tooltip {
    cursor: help;
    @include t-bordered-text(
        1px,
        dotted,
        $color-base
    );

}

.#{$base-class-prefix}text-tooltip {
    position: relative;

    &:after {
        @include t-textsize($font-size-small, $font-line);

        content: attr(data-tooltip);
        display: none;
        position: absolute;
        background: $color-base;
        color: $color-background;
        padding: $gap / 28 $gap / 4;
        border-radius: $gap / 7;
        white-space: nowrap;
    }

    &__side {
        &-left:after {
            top: 50%;
            left: -$gap / 4;
            transform: translate(-100%, -$font-line / 2);
        }

        &-right:after {
            top: 50%;
            right: -$gap / 4;
            transform: translate(100%, -$font-line / 2);
        }

        &-top:after {
            top: -($gap / 7 + $font-line + $gap / 28);
            transform: translateX(-50%);
            margin-left: 50%;
            left: 0;
        }

        &-bottom:after {
            bottom: -($gap / 7 + $font-line + $gap / 28);
            transform: translateX(-50%);
            margin-left: 50%;
            left: 0;
        }
    }

    &:focus,
    &:hover {
        &:after {
            display: block;
        }
    }
}

mark {
    @include t-highlighted-block();
}

code {
    @include t-highlighted-block(
        $backgroundColor: $color-base-light
    );
    font-family: $font-mono;
}

pre {
    @include t-codeblock();
    white-space: pre;
}

.#{$base-class-prefix}pre {
    @include t-codeblock(
        $paddingX: $gap,
        $paddingY: $gap / 4 * 3
    );

    p,
    span {
        white-space: pre;
        margin: 0;
        display: block;
    }
}


.#{$base-class-prefix}font-size {
    &-small {
        @include t-textsize($font-size-small, $font-line);
    }

    &-normal {
        @include t-textsize($font-size, $font-line);
    }

    &-double {
        @include t-textsize($font-size * 2, $font-line * 2);
    }

    &-triple {
        @include t-textsize($font-size * 3, $font-line * 3);
    }
}
