.#{$base-class-prefix}rows {
    @include t-rows($margin: $gap 0);
}

.#{$base-class-prefix}row {
    @include t-row();
}


.#{$base-class-prefix}cols {
    @include t-cols(
        $margin: 0,
        $maxWidth: 100%
    );
}

.#{$base-class-prefix}col {
    @include t-col(
        $size: 1,
        $margin: $gap,
    );

    @for $counter from 1 through $columns-max-quantity {
        &-size-#{$counter} {
            flex: $counter 1 0;
        }
    }
}