blockquote {
    @include t-highlighted-block(
        $backgroundColor: $color-accent,
        $paddingX: $gap / 2,
        $paddingY: $gap / 4
    );
    margin: $gap 0;

    cite {
        font-style: italic;

        &:before {
            content: '\2013  ';
        }
    }

    &[cite] {
        &:after {
            content: '\2013  ' attr(cite);
            font-style: italic;
        }
    }

    > p {
        margin: 0;
    }
}

q {
    font-style: italic;
}
