table {
    border-collapse: collapse;
    margin: $gap 0;

    &.t-table {
        &-full {
            width: 100%;
        }
    }

    tr {
        &:last-child {
            td {
                border-bottom: 1px solid transparent;
            }
        }
    }

    td,
    th {
        padding: $gap / 4 $gap / 2 ($gap / 4 - 1) $gap / 2;
        border-right: 1px solid $color-base-light;
        border-bottom: 1px solid $color-base-light;
    }

    th {
        background-color: $color-base-light;
        font-weight: 500;
        font-size: inherit;
    }

    td {
        &:last-child {
            border-right: 1px solid transparent;
        }
    }

    thead {
        td,
        th {
            background-color: $color-base-light;
            font-weight: bolder;
            font-size: inherit;
        }
    }

    tfoot {
        tr:last-child {
            td {
                border-bottom: 1px $color-base-light;
                background-color: $color-base-light;
                font-weight: bolder;
            }
        }
    }

    tbody {
        + tbody {
            tr:first-child {
                td {
                    border-top: 2px solid $color-base-light;
                }
            }
        }
    }
}