table {
    border-collapse: collapse;
    margin: $gap 0;

// $color-table-background-head: $color-base-light;
// $color-table-background-foot: $color-base-light;
// $color-table-border-head: $color-base-light;
// $color-table-border-body: $color-base-light;
// $color-table-border-foot: $color-base-light;


    &.t-table {
        &-full {
            width: 100%;
        }
    }

    tr {
        &:last-child {
            td {
                border-bottom: 1px solid transparent;
            }
        }
    }

    td,
    th {
        padding: $gap / 4 $gap / 2 ($gap / 4 - 1) $gap / 2;
    }

    th {
        background-color: $color-table-background-head;
        border-right: 1px solid $color-table-border-head;
        border-bottom: 1px solid $color-table-border-head;
        font-weight: 500;
        font-size: inherit;
    }

    td {
        border-right: 1px solid $color-table-border-body;
        border-bottom: 1px solid $color-table-border-body;
        &:last-child {
            border-right: 1px solid transparent;
        }
    }

    thead {
        td,
        th {
            background-color: $color-table-background-head;
            border-right: 1px solid $color-table-border-head;
            border-bottom: 1px solid $color-table-border-head;
            font-weight: bolder;
            font-size: inherit;
        }
    }

    tfoot {
        td {
            border-right: 1px solid $color-table-border-foot;
            border-bottom: 1px solid $color-table-border-foot;
        }

        tr:last-child {
            td {
                border-bottom: 1px solid $color-table-border-foot;
                background-color: $color-table-background-foot;
                font-weight: bolder;
            }
        }
    }

    tbody {
        + tbody {
            tr:first-child {
                td {
                    border-top: 2px solid $color-table-border-body;
                }
            }
        }
    }
}