.debug-blocks {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        background: rgba(255, 0, 0, .15)
    }

    p, ul, ol, figcaption {
        background: rgba(0, 255, 0, .15);

        li {
            background: rgba(0, 255, 0, .15);
        }
    }
}