@import '../../source/variables/main.scss';

.body {
    position: relative;
    z-index: 10;
}

.debug {
    &-buttons {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
    }

    &-grid {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        &.show {
            display: block;
        }

        div {
            height: $gap / 2 - 1;
            border-bottom: 1px solid rgba(0, 0, 255, .15);

            &:nth-child(2n) {
                border-bottom-color: rgba(0, 0, 255, .35);
            }
        }
    }
}