@mixin t-unordered-list($margin: 0, $paddingLeft: $gap) {
    margin: $margin;
    list-style: none;
    padding-left: 0;

    li {
        &:before {
            content: '\2013';
            display: inline-block;
            text-align: center;
            margin-right: $font-size / 2;
        }

        ul {
            padding-left: $paddingLeft;
            margin-top: 0;
            margin-bottom: 0;

            li {
                &:before {
                    content: '\2022';
                }

                li {
                    &:before {
                        content : '\25AA';
                    }
                }
            }

        }
    }
}

@mixin t-ordered-list($margin: 0, $paddingLeft: $gap) {
    margin: $margin;
    list-style: none;
    padding-left: 0;
    counter-reset: listCounter;

    li {
        counter-increment: listCounter;

        &:before {
            display: inline-block;
            text-align: center;
            width: auto;
            margin-right: $font-size / 2;
            content: counters(listCounter, ".");
        }

        ol {
            padding-left: $paddingLeft;
            margin: 0;
        }
    }
}

@mixin t-link(
    $linkNormal: $color-link,
    $linkHover: $color-link,
    $linkActive: $color-link,
    $linkVisited: ($color-base + $linkNormal) * .5
) {
    color: $linkNormal;
    text-decoration: none;
    border-bottom: 1px solid rgba($linkNormal, 0.25);
    padding-bottom: 2px;
    outline: none;

    &:hover {
        color: $linkHover;
        border-bottom-color: opacify($linkHover, 1);
    }

    &:focus,
    &:active {
        background-color: rgba($linkActive, .1);
        border-bottom: 1px solid rgba($linkActive, 1);
    }

    &:visited {
        color: $linkVisited;
        border-bottom-color: $linkVisited;
    }
}

@mixin t-horizontal-rule(
    $color: $color-base,
    $margin: $gap 0,
    $blockHeight: $gap / 2,
    $lineHeight: 1px
) {
    display: block;
    width: 100%;
    height: $blockHeight;
    font-size: 0;
    padding: 0;
    border: none;
    margin: $margin;
    position: relative;

    &:after {
        content: '';
        height: $lineHeight;
        position: absolute;
        background-color: $color;
        width: 100%;
        top: 50%;
        margin-top: -$lineHeight;
    }
}

@mixin t-bordered-text(
    $thickness: 1px,
    $type: solid,
    $borderColor: rgba($color-base, 0.25)
) {
    text-decoration: none;
    border-bottom: $thickness $type $borderColor;
    padding-bottom: 2px;
}

@mixin t-uppertext($fontSize: $font-size * 0.75) {
    display: inline-block;
    transform: translateY(-.25em);
    font-size: $fontSize;
}

@mixin t-lowertext($fontSize: $font-size * 0.75) {
    display: inline-block;
    transform: translateY(.25em);
    font-size: $fontSize;
}