@mixin t-unordered-list($margin: 0, $bullet: '\2013') {
    margin: $margin;
    list-style: none;
    padding-left: $font-size;
    li {
        &:before {
            content: $bullet;
            display: inline-block;
            text-align: center;
            width: $font-size * 1.5;
            margin-right: $font-size / 2;
        }
    }
}

@mixin t-ordered-list($margin: 0) {
    margin: $margin;
    list-style: none;
    padding-left: $font-size;
    counter-reset: listCounter;
    li {
        counter-increment: listCounter;
        &:before {
            display: inline-block;
            text-align: center;
            width: auto;
            margin-right: $font-size / 2;
            content: counters(listCounter, ".");
        }
    }
}

@mixin t-link(
    $linkNormal: $color-link,
    $linkHover: $color-link,
    $linkActive: $color-link,
    $linkVisited: ($color-base + $linkNormal) * .5
) {
    color: $linkNormal;
    text-decoration: none;
    border-bottom: 1px solid rgba($linkNormal, 0.25);
    padding-bottom: 2px;
    outline: none;

    &:hover {
        color: $linkHover;
        border-bottom-color: opacify($linkHover, 1);
    }

    &:focus,
    &:active {
        background-color: rgba($linkActive, .1);
        border-bottom: 1px solid rgba($linkActive, 1);
    }

    &:visited {
        color: $linkVisited;
        border-bottom-color: $linkVisited;
    }
}

@mixin t-horizontal-rule($color: $color-base, $margin: $gap 0, $height: 1px) {
    display: block;
    width: 100%;
    height: $height;
    background: $color;
    font-size: 0;
    padding: 0;
    border: none;
    margin: $margin;
    transform: translateY(-$height);
}