@function _t--header-font-offset($fontSize, $lineHeight, $gapsCounter) {
    $fontHeight: $fontSize * $lineHeight;
    $toTopClosestGapLine: $fontHeight % $gap;

    @if $fontHeight < $gap {
        $toTopClosestGapLine: $gap - $fontHeight;
    }

    @return $gapsCounter * $gap + $toTopClosestGapLine;
}

@mixin t-header($fontSize, $gapTop, $gapBottom, $lineHeight: 1.166666667) {
    font-size: $fontSize;
    font-weight: $font-weight-bold;
    line-height: $lineHeight * $fontSize;
    margin-top: _t--header-font-offset($fontSize, $lineHeight, $gapTop);
    margin-bottom: $gapBottom * $gap;
    color: inherit;
}